In [1]:
import pandas as pdhttps://stackoverflow.com/questions/47074894/how-to-calculate-correlation-between-rows-in-python-pandas-data-frame
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corrwith.html#pandas.DataFrame.corrwith

In [47]:
user_feat=pd.read_excel("users_features.xlsx")

In [14]:
user_feat.dtypes

Users ID          int64
best subject1    object
best subject2    object
best subject3    object
dtype: object

In [35]:
stud = [89, "Mathematics","Commerce","Financial Accounting"]

In [44]:
new_user=pd.DataFrame( data=[stud], 
                       columns= ['Users ID', "best subject1","best subject2","best subject3"])
new_user

   Users ID best subject1 best subject2         best subject3
0        89   Mathematics      Commerce  Financial Accounting

In [60]:
user_feat.corrwith(new_user.iloc[0], axis=1)

AttributeError: ("'float' object has no attribute 'shape'", 'occurred at index 0')

In [46]:
user_feat.append(new_user)

    Users ID         best subject1         best subject2         best subject3
0        101              Commerce           Mathematics               Physics
1        102               Biology           Mathematics      English Language
2        103  Agricultural Science      English Language             Chemistry
3        104               Physics  Financial Accounting              Commerce
4        105  Financial Accounting           Mathematics              Commerce
5        106           Mathematics      English Language  Agricultural Science
6        107               Biology           Mathematics             Chemistry
7        108               Physics      English Language             Chemistry
8        109           Mathematics  Financial Accounting      English Language
9        110               Biology             Chemistry           Mathematics
10       111       Civic Education              Commerce      English Language
11       112              Commerce           Mathematics               Physics
12       113               Biology           Mathematics      English Language
13       114  Agricultural Science      English Language             Chemistry
14       115               Physics  Financial Accounting              Commerce
15       116  Financial Accounting           Mathematics              Commerce
16       117           Mathematics      English Language  Agricultural Science
17       118               Biology           Mathematics             Chemistry
18       119               Physics      English Language             Chemistry
19       120           Mathematics  Financial Accounting      English Language
20       121               Biology             Chemistry           Mathematics
21       122       Civic Education              Commerce      English Language
22       123              Commerce           Mathematics               Physics
23       124               Biology           Mathematics      English Language
24       125  Agricultural Science      English Language             Chemistry
25       126               Physics  Financial Accounting              Commerce
26       127  Financial Accounting           Mathematics              Commerce
27       128           Mathematics      English Language  Agricultural Science
28       129               Biology           Mathematics             Chemistry
29       130               Physics      English Language             Chemistry
30       131           Mathematics  Financial Accounting      English Language
31       132               Biology             Chemistry           Mathematics
32       133       Civic Education              Commerce      English Language
33       134              Commerce           Mathematics               Physics
34       135               Biology           Mathematics      English Language
35       136  Agricultural Science      English Language             Chemistry
36       137               Physics  Financial Accounting              Commerce
37       138  Financial Accounting           Mathematics              Commerce
38       139           Mathematics      English Language  Agricultural Science
39       140               Biology           Mathematics             Chemistry
40       141               Physics      English Language             Chemistry
41       142           Mathematics  Financial Accounting      English Language
42       143               Biology             Chemistry           Mathematics
43       144       Civic Education              Commerce      English Language
44       145              Commerce           Mathematics               Physics
0         89           Mathematics              Commerce  Financial Accounting

In [23]:
user_feat[0:1]

   Users ID best subject1 best subject2 best subject3
0       101      Commerce   Mathematics       Physics